PORT=
NODE_ENV=development

# Database
DB_SSL_REQUIRED=
DB_CONNECTION_STRING=
DB_MAX_CONNECTION=
REDIS_URL=

# Monitoring
SENTRY_DSN=

# Email
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASSWORD=

# Domains
ADMIN_APP=
APP_URL=app.kantisoft.com
LANDING_PAGE=kantisoft.com

# New Relic
NEW_RELIC_NO_CONFIG_FILE=
NEW_RELIC_APP_NAME=
NEW_RELIC_LICENSE_KEY=
NEW_RELIC_LOG_LEVEL=

# Clerk
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=
CLERK_USER_ID=
#bunx clerk webhooks listen --token some_value --forward-to http://localhost:7344/api/v1/iam/webhook/clerk